/* mobile and desktop scaling */
/* priority: 1. mobile -> 2. desktop*/

@media screen and (max-width: 800px){
    
    .splash{
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(65deg, rgb(0, 255, 221), rgb(107, 214, 130));
        height: 100vh;
        width: 100%;
    }

    .splash-inner-text{
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 100%;
    }
    
    .splash-inner-text > p{
        display: flex;
        flex-direction: column;
        font-family: "Sans Serif Shaded", sans-serif;
        color: grey;
        font-size: 5em;
    }

    .splash-inner-text > p:nth-child(1){
        margin-top: auto;
    }

    .splash-inner-text > p:nth-child(2),
    .splash-inner-text > p:nth-child(3){
        display: flex;
        flex-direction: column;
        font-family: "Sans Serif Shaded", sans-serif;
        color: grey;
        font-size: 3.2em;
    }

    .splash-inner-text > p:nth-child(3){
        margin-bottom: auto;
    }

}